<div class="container pt-4">

  <h1>New Post</h1>

  <%= form_with :model => @post do |form| %>
    
    <p>
      <%= form.label "title" %>
    </p>
    <p>
      <%= form.text_field "title" %>
    </p>
    <p>
      <%= form.label "description" %>
    </p>
    <p>
      <%= form.text_area(:"description", size:"40x10")%>
    </p>

    <p>
      <%= form.label "posted_on" %>
    </p>
    <p>
      <%= form.date_field "posted_on" %>
    </p>
    
    <div class="mb-3">
      <%= form.label "uploaded_image", :class => "form-label"%>
      <%= form.file_field "uploaded_image", :accept => "image/jpeg, image/jpg, image/png, image/gif", :class => "form-control"%>
    </div>


    <%= form.hidden_field "place_id" %>
    <p>
      <%= form.submit "Create Post", class:"btn btn-primary"%>
    </p>
  <% end %>

</div>
