<div class="container pt-4">

  <h1><%= @place["name"] %></h1>

  
  <div class="row">
    
    <% if @current_user%>

      <p>
        <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
    </p>
      <% for post in @posts %>
        <div class="col-md-4">
          <h4><%= post["title"] %></h4>
          <p><%= post["posted_on"] %></p>
          <% if post.uploaded_image.attached? %>
            <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
          <% else %>
            <img src="<%= post["image"] %>" class="img-fluid">
          <% end %>
          <p><%= post["description"] %></p>
          
        </div>
      <% end %>

      
    <%else%>
      Login to see posts
    

    <%end%>
  </div>

</div>